<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="icon" href="/imgs/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="profileBody">
    <div class="main-content">
        {{>header}}
        {{!-- <img class="profilePotrait" src="/imgs/profile.svg" alt="image"> --}}
        <p style="color:#333;width:300px">
            Hi, I am a Software Developer from India.
            <br>
            I love to design and code.
            <br><br>
        </p>
        <hr style="width: 314px; float:left;">
        <p style="color:#333;width:300px">
            <br><br>
            Check out my other projects at <a href="https://github.com/bhanuhanda"
                target="_blank">https://github.com/bhanuhanda</a>
            <br>
            <br>
            Connect with me at <span style="color:brown">bhanuhanda98@gmail.com</span>
        </p>
    </div>
    <div class="aboutFooter">{{>footer}}</div>
</body>

</html>